@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rubik+Bubbles&family=Rubik+Moonrocks&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #708ceb 16.62%, #7167ca 85.61%);

}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    background: white;
    font: black;
}

.cabecalho-imagem {
    height: 70px;
}

.cabecalho-menu {
    display: flex;
    gap: 40px;
        
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid black
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7

}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
    
}

.conteudo-principal-escrito-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #2F2325
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secudanrio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid black;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
    color: #FFF2E7;
    margin-bottom: 16px;

}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4

}

.rodape {
    padding: 32px;
    border-top: 0.4px solid black;
    display: flex;
    justify-content: center;
    gap: 40px;

}

footer img {
    width: 50px;
    height: 50px;
}

.instagram {

    height: 48px;
}
/* .instagran {
    height: 35px;
    width: 35px;
}

.github {
    height: 10px;
    width: 10px;
} */